* {
	color: #f49338;
	background-color: #57159d;
}
/* h1 h2 h3 {
	color: #f2f217;
} */
body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}
.user-list,
.group-list {
	display: flex;
	flex-wrap: wrap;
}
.user,
.group {
	margin: 1rem;
}
